body {
  padding: 0;
  margin: 0;
  background-color: #5a4cec;
}



body, main, footer, p, h1, ul, li {
  padding: 0px;
  margin: 0px;

}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.header-imgdash {
  background: url("coffeehome.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  height: 110vh;
  overflow-x: hidden !important;
  overflow-y: hidden !important;
}

.header-img {
  background: url("coffeeshop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  height: 115vh;
  overflow-x: hidden !important;
  overflow-y: hidden !important;
}

.container-header {
  margin-left: 100px;
}

.container-header .header-nav {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.container-header .header-nav h2 {
  font-size: 32px;
  line-height: 1;
  font-weight: bold;
  font-family: "Roboto Mono", monospace;
  color: #eeece3;
}

.container-header .header-nav .header-list {
  margin-right: 100px;
}

.container-header .header-nav .header-list ul {
  display: flex;
  transition: 0.8s;
  font-size: 20px;
  line-height: 1;
  font-weight: bold;
  font-family: "Roboto Mono", monospace;
  color: #eeece3;
}

.container-header .header-nav .header-list li {
  font-size: 16px;
  padding-left: 40px;
}

.container-header .header-nav .header-list a {
  color: white;
  transition: 0.8s;
}

.container-header .header-nav .header-list a:hover {
  color: #5a4cec;
}

.container-header .header-nav .header-list input {
  font-size: 20px;
  line-height: 1;
  font-weight: bold;
  font-family: "Roboto Mono", monospace;
  color: #eeece3;
  margin-top: -20px;
  margin-left: 50px;
  background: transparent;
  width: 150px;
  height: 50px;
  border: 1px solid white;
  border-radius: 10px;
  font-size: 20px;
  cursor: pointer;
  transition: 0.90s;
}


.container-header .header-nav .header-list input:hover {
  border: 2px solid #443ab4;
  color: white;
  background: #443ab4;
}

.container-header .img-texts {
  display: block;
  align-items: flex-start;
  margin-top: 100px;
}

.container-header .img-texts h1 {
  font-size: 80px;
  line-height: 1;
  font-weight: bold;
  font-family: "Roboto Mono", monospace;
  color: #eeece3;
}

.container-header .img-texts h2 {
  margin-top: 50px;
  font-size: 32px;
  line-height: 1;
  font-weight: bold;
  font-family: "Roboto Mono", monospace;
  color: #eeece3;
}

.container-header .img-texts p {
  margin-top: 20px;
  font-size: 20px;
  line-height: 1;
  font-family: "Roboto Slab", serif;
  color: #eeece3;
}

.container-header .img-texts input {
  font-size: 32px;
  line-height: 1;
  font-weight: bold;
  font-family: "Roboto Mono", monospace;
  color: #eeece3;
  background: transparent;
  border: 2px solid white;
  margin-top: 28px;
  width: 350px;
  height: 80px;
  border-radius: 15px;
  cursor: pointer;
  transition: 0.90s;
}

.container-header .img-texts input:hover {
  border: 2px solid #443ab4;
  color: white;
  background: #443ab4;
}

.container-header .img-text2 {
  font-size: 80px;
  line-height: 1;
  font-weight: bold;
  font-family: "Roboto Mono", monospace;
  color: #eeece3;
}


.header-item h2 {
  font-size: 32px;
  line-height: 1;
  font-weight: bold;
  font-family: "Roboto Mono", monospace;
  color: #eeece3;
}

.header-register {
    background-color: hsl(245, 81%, 61%, 50%);
    display: inline-block;
    align-items: center;
    border-radius: 20px;
    padding: 50px;
    justify-content: space-between;
    width: 25%
  }

  .header-register h2 {
    line-height: 1;
    font-weight: bold;
    font-family: "Roboto Mono", monospace;
    color: #eeece3;
  }
  
  .header-register p {
    font-size: 28px;
    line-height: 1;
    font-family: "Roboto Slab", serif;
    color: #eeece3;
  }
  
  .header-register input {
    font-size: 20px;
    line-height: 1;
    font-weight: bold;
    font-family: "Roboto Mono", monospace;
    color: #eeece3;
    background: transparent;
    border: 1px solid white;
    margin-top: 28px;
    width: 180px;
    height: 40px;
    border-radius: 5%;
    cursor: pointer;
    transition: 0.90s;
  }

  .header-register input {
    font-size: 20px;
    line-height: 1;
    font-weight: bold;
    font-family: "Roboto Mono", monospace;
    color: #eeece3;
    background: transparent;
    border: 1px solid white;
    margin-top: 28px;
    width: 180px;
    height: 40px;
    border-radius: 5%;
    cursor: pointer;
    transition: 0.90s;
  }
  
  .header-register input:hover {
    border: 2px solid #ffffff;
    color: #131313;
    background: #f8f8f8;
  }


.header-text {
    display: block;
    align-items: flex-end;
    padding-top: 250px;
  }

.header-text h1 {
  font-size: 200px;
  line-height: 1;
  font-weight: bold;
  font-family: "Roboto Mono", monospace;
  color: #eeece3;
}

.header-text p {
  font-size: 28px;
  line-height: 1;
  font-family: "Roboto Slab", serif;
  color: #eeece3;
}

.header-text input {
  font-size: 20px;
  line-height: 1;
  font-weight: bold;
  font-family: "Roboto Mono", monospace;
  color: #eeece3;
  background: transparent;
  border: 1px solid white;
  margin-top: 28px;
  width: 180px;
  height: 40px;
  border-radius: 5%;
  cursor: pointer;
  transition: 0.90s;
}

.header-text input:hover {
  border: 2px solid #443ab4;
  color: #131313;
  background: #443ab4;
}

.header-list ul {
  display: flex;
  transition: 0.8s;
  font-size: 20px;
  line-height: 1;
  font-weight: bold;
  font-family: "Roboto Mono", monospace;
  color: #eeece3;
}

.header-list li {
  font-size: 16px;
  padding-top: 20px;
  padding-left: 40px;
}

.header-list a {
  color: white;
  transition: 0.8s;
}

.header-list a:hover {
  color: #5a4cec;
}

.header-list input {
  font-size: 20px;
  line-height: 1;
  font-weight: bold;
  font-family: "Roboto Mono", monospace;
  color: #eeece3;
  background: transparent;
  width: 150px;
  height: 50px;
  border: 1px solid white;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
  transition: 0.90s;
}

.header-list input:hover {
  border: 2px solid #443ab4;
  color: #131313;
  background: #443ab4;
}

.container-main {
  padding: 80px;
  background-image: linear-gradient(#0f0c29, #302b63, #24243e);
  color: #eeece3;
}

.main-flex {
  display: flex;
  justify-content: space-between;
}

.main-text, .main-title2 {
  font-size: 28px;
  line-height: 1;
  font-weight: bold;
  font-family: "Roboto Mono", monospace;
  color: #eeece3;
}

.main-info {
  font-size: 18px;
  line-height: 1;
  font-weight: bold;
  font-family: "Roboto Mono", monospace;
  color: #eeece3;
  margin-top: 50px;
  border-top: 2px solid #7b7bb3;
}

.main-info span {
  color: #7c7c7c;
}

.main-text2 {
  font-size: 20px;
  line-height: 1;
  font-family: "Roboto Slab", serif;
  color: #eeece3;
  padding: 10px 0px 25px 0px;
  border-bottom: 2px solid #0f0c29;
}

.card-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card {
  margin-top: 26px;
  flex-direction: column;
  position: relative;
  height: 500px;
  width: 300px;
  min-width: 250px;
  padding: 1.5rem;
  background: #443ab4;
  box-shadow: 10px 15px 10px 0px rgba(19, 19, 19, 0.788);
  border-radius: 10px;
  transition: 0.2s;
  min-width: 140px;
  border-bottom: 4px solid #131313;
}

.card:hover {
  height: 528px;
  transform: translateY(30px);
}

.card img:hover {
  transition: 0.2s;
  width: 300px;
  height: 300px;
}

.card h3 {
  font-size: 20px;
  line-height: 1;
  font-weight: bold;
  font-family: "Roboto Mono", monospace;
  color: #eeece3;
}

.card {
  color: #7c7c7c;
}

.card h1 {
  font-size: 28px;
  line-height: 1;
  font-weight: bold;
  font-family: "Roboto Mono", monospace;
  color: #eeece3;
  text-align: center;
}

.card p {
  font-size: 20px;
  line-height: 1;
  font-family: "Roboto Slab", serif;
  color: #eeece3;
  padding-top: 20px;
  text-align: center;
}

.card span {
  font-size: 20px;
  line-height: 1;
  font-family: "Roboto Slab", serif;
  color: #eeece3;
  padding-top: 20px;
  text-align: center;
}

.main-flex2 {
  padding-top: 140px;
  display: flex;
  justify-content: space-between;
}

.main-text3 {
  padding-bottom: 25px;
  font-size: 20px;
  line-height: 1;
  font-family: "Roboto Slab", serif;
  color: #eeece3;
  border-bottom: 2px solid #0f0c29;
}

.container-image {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  background-color: #1f1a57;
  flex-wrap: nowrap;
  overflow-x: hidden !important;
  overflow-y: hidden !important;
}

.container-image-perfil {
  font-family: "Roboto Slab", serif;
  margin-top: 15px;
  display: flex;
  background-color: rgba(31, 26, 86, 0.576);
  flex-wrap: nowrap;
  overflow-x: hidden !important;
  overflow-y: hidden !important;
  width: 40%;
  height: 489px;
  border-radius: 20px;
  justify-content: flex-start;
}

.container-image-home {
  margin-top: 45px;
  display: flex;
  justify-content: center;
  background-color: rgba(31, 26, 86, 0.576);
  flex-wrap: nowrap;
  overflow-x: hidden !important;
  overflow-y: hidden !important;
  width: 47%;
  height: 322px;
  border-radius: 25px;
  line-height: 1;
}

.img-text2 p {
  font-family: "Roboto Mono", monospace;
  font-size: 18px;
  line-height: 1;
}

.cadastrar-musicas {
  margin-top: 63px;
  display: flex;
  justify-content: center;
  background-color: rgba(31, 26, 86, 0.576);
  flex-wrap: nowrap;
  overflow-x: hidden !important;
  overflow-y: hidden !important;
  width: 47%;
  height: 56px;
  border-radius: 25px;
  line-height: 1;
}

.cadastrar-musicas h3 {
  display: flex;
  justify-content: space-between;
  height: 1%;
  font-family: "Roboto Mono", monospace;
  color: #eeece3;
}

.cadastrar-musicas input {
  border-radius: 18px;
  margin-top: 10px;
  height: 29px;
  display: flex;
  background: #0603ed7a;
  color: white;
  font-family: "Roboto Mono", monospace;
  margin-left: 10px;
  text-align: center;
}


.together {
  min-width: 300px;
  width: 100%;
  height: 100%;
}

.img-text {
  min-width: 200px;
}

.img-text h4, p {
  display: flex;
  justify-content: space-between;
  height: 1%;
  padding: 28px 30px 0 30px;
  font-size: 15px;
  font-weight: bold;
  font-family: "Roboto Mono", monospace;
  color: #eeece3;
}


.img-text h3 {
  display: flex;
  justify-content: space-between;
  background-color: #443ab4;
  min-width: 100px;
  height: 100px;
  padding: 30px 30px 0 30px;
  font-size: 24px;
  line-height: 1;
  font-weight: bold;
  font-family: "Roboto Mono", monospace;
  color: #eeece3;
  border-radius: 25px;
  margin-left: 60px;
}

.img-text sup {
  font-size: 20px;
  line-height: 1;
  font-family: "Roboto Slab", serif;
  color: #eeece3;
}

.img-text .sobre {
  font-size: 20px;
  line-height: 1;
  font-weight: bold;
  font-family: "Roboto Mono", monospace;
  color: #eeece3;
  color: #464646;
}

.img-text h4 {
  font-size: 18px;
  line-height: 1;
  font-weight: bold;
  font-family: "Roboto Mono", monospace;
  color: #eeece3;
  padding-top: 30px;
}

.img-text p {
  font-size: 18px;
  line-height: 1;
  font-family: "Roboto Slab", serif;
  color: #eeece3;
}

.contact {
  display: flex;
  justify-content: space-between;
  width: 500px;
}

.contact img {
  align-self: flex-end;
}

.contact input {
  padding: 10px;
  margin-top: 50px;
  width: 240px;
  font-size: 25px;
  line-height: 1;
  font-weight: bold;
  font-family: "Roboto Mono", monospace;
  color: #eeece3;
  background-color: #464646;
  border: 2px solid #464646;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.80s;
}

.contact input:hover {
  border: 2px solid #443ab4;
  color: #131313;
  background: #443ab4;
}

.container-footer {
  background-color: #24243e;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px 80px 0px 80px;
}

.container-footer h2 {
  font-size: 20px;
  line-height: 1;
  font-weight: bold;
  font-family: "Roboto Mono", monospace;
  color: #eeece3;
}

.container-footer ul {
  display: flex;
}

.container-footer li {
  padding-top: 20px;
  padding-left: 40px;
}

.container-footer li img {
  min-width: 10px;
  min-height: 10px;
}

.newsletter input {
  width: 200px;
  min-width: 100px;
  border: none;
  background: transparent;
  border-bottom: 2px solid #443ab4;
  outline: transparent;
}

.newsletter input {
  font-size: 20px;
  line-height: 1;
  font-family: "Roboto Slab", serif;
  color: #eeece3;
}

.newsletter button {
  cursor: pointer;
  border: none;
  background: transparent;
  outline: transparent;
  font-size: 20px;
  font-weight: bold;
  transition: 0.80s;
}

.button-h {
  line-height: 1;
  font-weight: bold;
  font-family: "Roboto Mono", monospace;
  color: #eeece3;
  margin-top: 27px;
  margin-left: 28px;
  background-color: hsla(246, 57%, 10%, 0.819);
  width: 150px;
  height: 50px;
  border: 1px solid #0f0c29;
  border-radius: 10px;
  font-size: 20px;
  cursor: pointer;
  transition: 0.90s;
}

.button-h:hover {
  border: 2px solid #443ab4;
  color: white;
  background: #443ab4;
}

.container-main-home {
  padding: 80px;
  background-image: linear-gradient(#0f0c29, #302b63, #24243e);
  color: #eeece3;
}

.container-main-home input {
  display: flex;
}

.button-b {
  line-height: 1;
  text-align: center;
  font-weight: bold;
  font-family: "Roboto Mono", monospace;
  color: #eeece3;
  margin-top: 70px;
  margin-left: 45%;
  background-color: hsla(246, 57%, 10%, 0.819);
  width: 172px;
  height: 50px;
  border: 1px solid #0f0c29;
  border-radius: 10px;
  font-size: 20px;
  cursor: pointer;
  transition: 0.90s;
}

.button-b:hover{
  border: 2px solid #443ab4;
  color: white;
  background: #443ab4;
}

.main-flex-home{
  display: flex;
  justify-content: space-between;
}

.main-info-home {
  font-size: 18px;
  line-height: 1;
  font-weight: bold;
  font-family: "Roboto Mono", monospace;
  color: #eeece3;
  margin-top: -27px;
  border-top: 2px solid #7b7bb3;
}

.main-text-home {
  margin-top: -50px;
  font-size: 28px;
  line-height: 1;
  font-weight: bold;
  font-family: "Roboto Mono", monospace;
  color: #eeece3;
}

.main-info-home span {
  color: #7c7c7c;
}
